body {
  margin: 0;
  background-image:url("fundo_dashboard.png");
  background-attachment: fixed;
  background-size: 100%;
  font-family: Arial, sans-serif;
  color: white;
}

/* TOPO */
.topo {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.topo input {
  width: 60%;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  background: #123845;
  color: white;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
  background: #001f31d0;
}

.menu label {
  cursor: pointer;
}

.lista{
  display: flex;
  margin-left: 40px;
  padding: 1px;
  margin-top: 40px;
}

.item{
  display: flex;
  margin-left: 40px;
  padding: 1px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 30px;
  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

/* CARD */
.card {
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

.card img {
  width: 70%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  font-size: 13px;
  margin-top: 8px;
}

/* HOVER BONITO */
.card:hover {
  transform: scale(1.08);
}