<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>InventaTI - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teste_dashboard.css') }}">
</head>
<body>

   <header class="topo">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        </div>
        <div class="busca-area">
            <input type="text" placeholder="Pesquisar por patrimônio ou série...">
        </div>
    </header>

    <div class="layout"
         <aside class="menu-esquerdo">
         </aside>
         <main class="conteudo-scroll">
         </main>
         <aside class="menu-direito">
         </aside> </div>

    <div class="menu-esquerdo"> 
    </div>

    <nav class="nav-status">
        <a href="#">Início</a>
        <a href="#">Equipamentos</a>
        <a href="#">Em uso</a>
        <a href="#">Em manutenção</a>
        <a href="#">Disponíveis</a>
        <a href="{{ url_for('auth.desativados') }}">Desativados</a>
    </nav>

    <div class="container-principal">
        
        <aside class="sidebar-esquerda">
            <h3>Menu principal</h3>
            <ul>
                <li><a href="{{url_for('auth.total_equipamentos')}}">
                    Total de equipamentos
                </a>
                <span>→</span>
            </li>
                <li><a href="{{url_for('auth.cadastro')}}">
                    Cadastrar equipamentos
                </a>
                <span>→</span>
            </li>
                <li><a href="{{url_for('auth.lista')}}">
                    Gerenciar equipamentos
                </a>
                <span>→</span>
            </li>
                <li>Histórico de suporte <span>→</span></li>
            </ul>
        </aside>

        <main class="conteudo-scroll">
            
            <section class="banner">
                <div class="banner-texto">
                    <h1>Bem vindo ao InventaTI</h1>
                    <p>Melhores equipamentos de TI você encontra aqui.</p>
                </div>
            </section>

            <section class="secao-icones">
                <h3></h3>
                <div class="grid-atalhos">
                <a href="{{ url_for('auth.equipamentos_por_tipo', tipo = 'Notebook') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">💻</div>
                        <p>Notebook</p>
                    </div>
                <a href="{{url_for('auth.equipamentos_por_tipo', tipo = 'Impressora') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">🖨️</div>
                        <p>Impressora</p>
                    </div>
                </a>
                <a href="{{url_for('auth.equipamentos_por_tipo', tipo = 'Tablet') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">📱</div>
                        <p>Tablet</p>
                    </div>
                </a>
                <a href="{{url_for('auth.equipamentos_por_tipo', tipo = 'Computador') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">🖥</div>
                        <p>Desktop</p>
                    </div>
                </a>
                <a href="{{ url_for('auth.equipamentos_por_tipo', tipo = 'Smartphone') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">📲</div>
                        <p>Smartphone</p>
                    </div>
                </a>
                <a href="{{ url_for('auth.equipamentos_por_tipo', tipo = 'Monitor') }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">📺</div>
                        <p>Monitor</p>
                    </div>
                </a>
                <a href="{{ url_for( 'auth.equipamentos_por_tipo' , tipo = 'Servidores' ) }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">🧲</div>
                        <p>Servidores</p>
                    </div>
                </a>
                <a href="{{ url_for( 'auth.equipamentos_por_tipo' , tipo = 'Softwares' ) }}">
                    <div class="item-atalho">
                        <div class="circulo-icone">🌐</div>
                        <p>Softwares</p>
                    </div>
                </a>
                    </div>
            </section>

            <section class="secao-icones">
                <h3></h3>
                <div class="grid-atalhos">
                <a href="{{ url_for('auth.marca', marca = 'Samsung' )}}">
                    <div class="item-atalho"></div>
                    <div class="circulo-marca">S</div>
                    <p>Samsung</p>
                </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'HP' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">H</div>
                        <p>HP</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'Lenovo' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">L</div>
                        <p>Lenovo</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca =  'Apple' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">A</div>
                        <p>Apple</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'Dell' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">D</div>
                        <p>Dell</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'Positivo' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">P</div>
                        <p>Positivo</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'Asus' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">A</div>
                        <p>Asus</p>
                    </a>
                <a href="{{ url_for( 'auth.marca' , marca = 'Xiaomi' )}}">
                     <div class="item-atalho"></div>
                        <div class="circulo-marca">X</div>
                        <p>Xiaomi</p>
                    </a>
                </div>
            </section>
            
        </main>

        <aside class="sidebar-direita">
            <h3>Mais</h3>
            <ul>
                <li><span>←</span> Catálogos</li>
                <li><span>←</span> Relatório de custos</li>
                <li><span>←</span> Ajuda / Suporte</li>
            </ul>
        </aside> </div>
</body>
</html>