<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Equipamento</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='equipamento.css') }}">
</head>
<body>

<!-- TOPO -->
<header class="topo">
  <input type="text" placeholder="Pesquisar por um equipamento específico...">
</header>

<!-- MENU -->
<nav class="menu">
  <span>Marca</span>
  <span>Localização</span>
  <span>Em uso</span>
  <span>Disponíveis</span>
  <span>Em manutenção</span>
  <span>Desativados</span>
</nav>

<div class="lista"
  
{% for eq in equipamentos %}
<div class="item">

  <h3> 
    {{ eq.tipo }} {{ eq.marca }} {{ eq.modelo }} • {{ eq.lancamento }} {{ eq.cor }} {{ eq.codigo }}
  </h3>

</div>

{% endfor %}

</div>

</body>
</html>