<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Equipamento</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='equipamento.css') }}">
</head>
<body>

<!-- TOPO -->
<header class="topo">
  <input type="text" placeholder="Pesquisar por um equipamento específico...">
</header>

<!-- MENU -->
<nav class="menu">
  <span>Marca</span>
  <span>Localização</span>
  <span>Em uso</span>
  <span>Disponíveis</span>
  <span>Em manutenção</span>
  <span>Desativados</span>
</nav>

<!-- GRID DE EQUIPAMENTOS -->
<main class="grid">

  <div class="card">
    <img src="img/notebook1.jpg">
    <p>Notebook Lenovo 2025, 128GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Apple, 128GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/notebook2.jpg">
    <p>Notebook Samsung 2025, 128GB RAM...</p>
  </div>

  <div class="card">
    <img src="img/tablet.jpg">
    <p>Notebook Asus 2024, 16gb RAM...</p>
  </div>

  <div class="card">
    <img src="img/ipad.jpg">
    <p>Notebook Positivo 2026, 8gb RAM...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Dell 2024, 8GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Lenovo 2023, 8GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Xiaomi 2023, 128GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Positivo 2022, 4GB RAM, 250GB memória interna...</p>
  </div>

  <div class="card">
    <img src="img/iphone.jpg">
    <p>Notebook Sansung 2022, 4GB RAM, 250GB memória interna...</p>
  </div>

  <!-- duplica mais -->

</main>

</body>
</html>