<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Equipamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lista_de_equipamentos.css') }}">
</head>
<body>

<!-- TOPO -->
<header class="topo">
    <a href="/dashboard" class="voltar">←</a>

    <div class="busca">
        <input type="text" placeholder="Pesquisar por um equipamento específico...">
    </div>
</header>

<!-- FILTROS -->
<section class="filtros">
    <button class="filtro ativo">Todos</button>
    <button class="filtro">Em uso</button>
    <button class="filtro">Disponíveis</button>
    <button class="filtro">Manutenção</button>
    <button class="filtro" onclick="window.location.href='{{ url_for('auth.desativados') }}' ">Desativados</button>
</section>

<!-- AÇÕES -->
<section class="acoes">
    <span id="contador">0 selecionados</span>
</section>

<!-- LISTA -->
<main class="lista">

{% for eq in equipamentos %}
<div class="item">

    {{ eq.tipo }}
    {{ eq.marca }}
    {{ eq.modelo }} •
    {{ eq.lancamento }}
    {{ eq.codigo }}
    {{ eq.status }}

    <a href="{{ url_for('auth.editar_equipamento', id=eq.id) }}">
        Editar
    </a>
    <a href="{{ url_for('auth.desativar', id=eq.id) }}">
    Desativar
    </a>

</div>
{% endfor %}

</form>

</main>

<div class="container-principal">

    <!-- LISTA -->
    <div class="lista">
        <!-- seus itens aqui -->
    </div>

</div>

<script>
    const checkboxes = document.querySelectorAll("input[type='checkbox']");
    const contador = document.getElementById("contador");

    checkboxes.forEach(cb => {
        cb.addEventListener("change", () => {
            const selecionados = document.querySelectorAll("input[type='checkbox']:checked").length;
            contador.innerText = selecionados + " selecionados";
        });
    });
</script>

</body>
</html>