<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Marcas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='marca.css') }}">
</head>
<body>

<!-- TOPO -->
<header class="topo">
  <input type="text" placeholder="Pesquisar por um equipamento específico...">
</header>

<!-- MENU -->
<nav class="menu">
  <span>Equipamento</span>
  <span>Localização</span>
  <span>Em uso</span>
  <span>Disponíveis</span>
  <span>Em manutenção</span>
  <span> Desativados</span>
</nav>

<!-- GRID DE EQUIPAMENTOS -->
<div class="lista">

  {% for eq in equipamentos %}
  <div class="card">

    <h3>
      {{ eq.tipo }} {{ eq.marca }} {{ eq.modelo }} {{ eq.lancamento }} {{ eq.cor }} {{ eq.codigo }} {{ eq.status }}
    </h3>
  
  </div>

  {% endfor %}

</div>

</body>
</html>