<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Equipamentos</title>
<link rel="stylesheet" href="{{ url_for('static',filename='total_de_equipamentos.css') }}">
</head>

<body>

<header class="topo">

<div class="voltar">←</div>

<div class="barra-pesquisa">
<input type="text" placeholder="Pesquisar por um equipamento específico...">
</div>

</header>

<nav class="menu-filtro">
<span>Quantidade</span>
<span>Marcas</span>
<span>Modelo</span>
<span>Equipamento</span>
</nav>

<main class="conteudo">

<h2>Total de equipamentos</h2>

<div class="lista-equipamentos">

<div class="item">
<img src="img/notebook1.jpg">
<p>Notebook Lenovo 2025, 128GB RAM, 250GB memória interna, CPU, tamanho tradicional, prata...</p>
</div>

<div class="item">
<img src="img/iphone.jpg">
<p>iPhone 15 Pro Max, 128GB RAM, 250GB memória interna, CPU, tamanho tradicional, prata...</p>
</div>

<div class="item">
<img src="img/notebook2.jpg">
<p>Notebook Samsung 2025, 128GB RAM, 250GB memória interna, CPU, tamanho tradicional, prata...</p>
</div>

<div class="item">
<img src="img/tablet.jpg">
<p>Tablet Samsung Galaxy 2024, 128GB RAM, 250GB memória interna, CPU, tamanho tradicional, prata...</p>
</div>

<div class="item">
<img src="img/ipad.jpg">
<p>iPad Apple Galaxy Pro 2026, 128GB RAM, 250GB memória interna, CPU, tamanho tradicional, prata...</p>
</div>

</div>

</main>

</body>
</html>