<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Equipamentos</title>
<link rel="stylesheet" href="{{ url_for('static',filename='total_de_equipamentos.css') }}">
</head>

<body>

<header class="topo">

<div class="voltar">←</div>

<div class="barra-pesquisa">
<input type="text" placeholder="Pesquisar por um equipamento específico...">
</div>

</header>

<nav class="menu-filtro">
<span>Quantidade</span>
<span>Marcas</span>
<span>Modelo</span>
<span>Equipamento</span>
</nav>

<main class="conteudo">

<h2>Total de equipamentos</h2>

<div class="lista-equipamentos">

{% for eq in equipamentos %}
    <div class="item">
        <h3>{{ eq.descriçao }}</h3>
        <p>Marca: {{ eq.marca }}</p>
        <p>Modelo: {{ eq.modelo }}</p>
        <p>Tipo: {{ eq.tipo }}</p>
        <p>Lançamento: {{ eq.lançamento }}</p>
        <p>Codigo: {{ eq.codigo }}</p>
        <p>Status: {{ eq.status }}</p>
    </div>
{% endfor %}

</div>

</main>

</body>
</html>